<app-navbar></app-navbar>
<style>
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
        background-color: #151515;
    }

    main {
        padding: 20px;
        margin: 0 auto;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        background-color: #1c1c1c;
    }

    #welcome {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        color: #ccc;
        margin-top: 60px;
    }

    #welcome h1 {
        font-size: 2em;
        margin-bottom: 20px;
    }

    .note-card, .input-form {
        border-radius: 10px;
        padding: 15px;
        margin: 10px 0;
        background-color: #222121;
        color: #ccc;
        width: 50vw; /* Adjusted for consistency */
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
        /* display: flex; */
        flex-direction: center;
        justify-content: center;
        align-items: center;
        font-size: larger;
        gap: 10px;
    }
    .note{
        width: 100%;
        /* background-color: #fff; */
    }

    .note-card h3, .input-form input, .input-form button {
        margin: 0 0 10px 0;
        font-size: 1.5em;
    }

    .note-card h4 {
        font-size: 1.2em;
        color: #bbb;
    }

    .note-card p, .input-form input, .input-form button {
        font-size: 1em;
    }

    .delete-button {
        height: 100%;
        background-color: #5e1111;
        color: #fff;
        border: none;
        padding: 15px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s ease;
        margin: 0%;

    }

    .delete-button:hover {
        background-color: #8a0303;
        transform: scale(1.03);
    }
    .update-button{
        background-color: #12141a;
        color: #fff;
        border: none;
        padding: 15px 15px;
        cursor: pointer;
        border-radius: 5px;
        transition:transform background-color 0.3s ease;
    }
    .update-button:hover{
        background-color: #000311b6;
        transform: scale(1.03);
    }

    .buttons{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
        font-size: 20px;
        gap :20px;
    }
    


    .input-form {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #ccc;
        width: 100%;
        max-width: 400px;
        margin-top: 20px;
    }

    .input-form input {
        background-color: #151515;
        color: #ccc;
        border: 2px solid #ccc;
        border-radius: 10px;
        padding: 10px;
        margin: 10px 0;
        font-size: 1em;
        width: 100%;
    }

    .input-form input::placeholder {
        color: #888;
    }

    .input-form button {
        background-color: #151515;
        color: #ccc;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        font-size: 17px;
        border-radius: 20px;
        border: 2px solid;
        margin-top: 20px;
    }

    .input-form button:hover {
        background-color: #ccc;
        color: #151515;
        transition: background-color 0.3s ease;
    }

    .error-message {
        color: red;
        font-size: 0.9em;
        margin-top: -10px;
        margin-bottom: 10px;
    }

    .error {
        border-color: red;
    }
   

.blurred {
  filter: blur(5px);
  pointer-events: none;
}

.update-form-wrapper, .single-note-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(28, 28, 28, 0.95);
  padding: 40px 30px;
  border-radius: 10px;
  z-index: 1000;
  width: 80%;
  /* max-width: 500px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.single-note-wrapper{
    color: #bbb;
}
.update-form-wrapper{
    display: flex;
    justify-content: center;
}
.update-form-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ccc;
    width: 100%;
    max-width: 700px;
    margin-top: 20px;
}

</style><main [class.blurred]="isUpdateFormVisible || isSingleNoteViewVisible">
    <div id="welcome">
      <h1>Your Notes</h1>
    </div>
  
    <div *ngIf="notes.length > 0; else noNotes">
      <div *ngFor="let note of notes; let i = index" class="note-card" (click)="showSingleNoteView(note)">
        <div class="note">
          <h4>
            <p style="padding-bottom: 10px; border-bottom: 2px solid rgb(154, 153, 153);">{{ note.title }}</p>
        </h4>
        <p style="padding-top:10px; font-family: 'Nunito Sans', sans-serif;">{{ note.content }}</p>
        </div>
        <div class="buttons">
          <button class="update-button" (click)="showUpdateForm(note.id, note.title, note.content); $event.stopPropagation();" style="margin-top: 10px;">Update note</button>
          <button (click)="deleteNote(i, note.id)" class="delete-button" style="margin-top: 10px;">Delete</button>
        </div>
      </div>
    </div>
  
    <ng-template #noNotes>
      <p style="color: #ccc;">No notes available.</p>
    </ng-template>
  </main>

  <div *ngIf="isUpdateFormVisible" class="update-form-wrapper">
    <form class="input-form" (ngSubmit)="onUpdateSubmit()">
      <p>Update Notes Here</p>
      <input type="text" [(ngModel)]="updateTitle" name="title" placeholder="Title Update" required/>
      <input type="text" [(ngModel)]="updateContent" name="content" placeholder="Note Update" required/>
      <button type="submit">Update</button>
      <button type="button" (click)="hideUpdateForm()">Cancel</button>
    </form>
  </div>
  

  <div *ngIf="isSingleNoteViewVisible" class="single-note-wrapper">
    <div>
      <h3 style=" padding-bottom: 10px; border-bottom: 1px solid #8a0303 ; font-size: 30px;">{{ singleNote?.title }}</h3>
      <p style="font-size: large; padding: 10px 0; font-size: 22px;">{{ singleNote?.content }}</p>
      <button type="button" (click)="hideSingleNoteView()" class="update-button">Close</button>
    </div>
  </div>